header {
  text-align: left;
}
img {
  margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}



.text {
  grid-column: 0.5;
  grid-row: 1 / 5;

}


.images {
  grid-column: 2 / 6;
  grid-row: 1 / 5;
}
