body {
  overflow: hidden;
}

.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr; /*0px er header*/
}

.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  overflow: hidden;
}

.content {
  overflow-y: scroll;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-right: 2%;
  margin-bottom: 2%;
}

.content img {
  max-width: 98%;
  height: auto;
  padding-bottom: 1%;
}

.sidebar {
  width: 275px;
  padding-top: 12px;
}


.sidebar .header {
  font-family: 'Playfair Display', serif;
  font-size: 25px;
  font-weight: 900;
  text-decoration: none;
  color: black;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10%;

}



.sidebar .overview {
  margin-top: 10%;
  margin-bottom: 2%;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  font-weight: 400;
  color: gray;
  cursor: pointer;

}

.sidebar .overview a {
  color: gray;
}

.sidebar .overview a:hover {
  color: black;
}

.sidebar a {
  margin-left: 10%;
  font-size: 16px;
  font-family: 'Playfair Display', serif;
  text-decoration: none;
  color: black;

}


.sidebar:hover > a {
  color: black;
}

.sidebar:hover > a:hover {
  color: gray;
  cursor: pointer;
}


.sidebar .film_cont {
  margin-left: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  display: none;
}

.film_cont:hover > a {
  color: black;
}

.film_cont:hover > a:hover {
  color: gray;
  cursor: pointer;
}

.sidebar .pers_cont {
  margin-left: 4%;
  padding-bottom: 2%;
  padding-top: 2%;
  display: none;
}

.pers_cont:hover > a {
  color: black;
}

.pers_cont:hover > a:hover {
  color: gray;
  cursor: pointer;
}



.sidebar .iglink img {
  width: 15%;
  margin-left: auto;
  margin-right: auto;
}

.mail img {
  margin-top: 8%;
  width: 11%;
  margin-left: auto;
  margin-right: auto;
}
